{% extends "CharitySystem/head-foot-page.html" %}
{% load static %}
{% block content %}
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="mt-5 mb-1">
    <img src="{% static 'img/c2.jpg' %}" width="100%" alt="charity">
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="trend">
    <div class="container">
        <h3 class="pt-3">Top Trending</h3>
        <h2>Fundraising For Coronavirus Relief</h2>

        <div class="row">
            <div class="col-4 ">
                <img src="{% static 'img/hospital.jpg' %}" alt="covid-19" width="100%" style="margin-top:15px;">
            </div>
            <div class="col-8  text-justify pt-3">
                <p>As COVID-19 continues to spread, more individuals, communities, and entire nations are feeling the impact in their daily lives. Beyond the global health crisis, the coronavirus is having a severe economic impact on individuals, small businesses, and medical organizations.</p>
                <p>The urgent need for medical supplies, basic necessities, and quality healthcare is only increasing as more communities become affected by COVID-19. And with hundreds of thousands of individuals across the globe in quarantine, there is a growing need for financial support.</p>
            </div>
        </div>
    </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

    <div class="container mt-3 pb-3 ">
        <div class="row">
            <div class="col-8 pt-3">
                <p class="text-justify">Thankfully, we all have the power to do something and make a difference. Here we're empowering individuals, organizations, and communities to step up in the face of the COVID-19 outbreak and help those who need it most.</p>
                <p class="text-justify">Contribut to a nobel cause as it will be a very good deed by you - raising a hand for the people who are in need.</p>
                <button class="btn btn-outline-primary btn-lg" onclick="location.href='/payment/'">Donate</button>
            </div>
            <div class="col-4">
                <img src="{% static 'img/wash_hand.jpg' %}" alt="covid-19" width="100%" style="margin-top:15px;">
            </div>
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->


{% endblock %}