{% extends "CharitySystem/head-foot-page.html" %}
{% load static %}
{% block content %}

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="p-5 mt-4" style="background-color:#e6fff2;">
    <div class="container p-4">
        <button class="btn btn-outline-info mb-4" onclick="location.href='/'"><i class="fas fa-angle-left"></i> Home</button>
        <h3 class="mb-2">About Us</h3>
        <p class="text-justify mt-4">We are Here To Take Your hand so that you can reach out the people that need out the most.</p>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="container-fluid pb-5" style="background-color: cornslik;">
    <div class="text-center p-5">
        <h3>Covering Domains</h3>
    </div>        
    <div class="row mt-2">
        <div class="col font-italic font-weight-bold">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Education</li>
                <li class="list-group-item">Agriculture</li>
                <li class="list-group-item">Women Society</li>
                <li class="list-group-item">Handicapped People</li>
                <li class="list-group-item">Cancer Patient</li>
            </ul>
        </div>
        <div class="col">
            <img src="{% static 'img/donate.jpg' %}" style="width:100%; height:250px;">
        </div>
        <div class="col font-italic font-weight-bold">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Covid-19</li>
                <li class="list-group-item">Disaster</li>
                <li class="list-group-item">Scheduled Caste Welfare</li>
                <li class="list-group-item">Old Age Homes</li>
                <li class="list-group-item">Ophanage</li>
            </ul>
        </div>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}